#main{
    width: 70%;
    margin: auto;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  

    
}
#new{
   background-color: red;
   color: white;
   border-radius: 4px;
  max-width:30px;
  max-height: 20px;

  
}
#flex{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#dib{
    display: flex;
}
#news{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 40px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top:3px;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
  overflow: hidden;
    height: max-content;
    width: 200px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding-top: 5px;
    border-radius: 10px;
}
#news img{
    height:150px ;
    width: 200px;
    border-radius: 5px;
    z-index: -1px;
   
}
@keyframes io {
    25%{
        display: none;
    }
    100%{
        display: block;
    }

    
}
#tag{
    animation-name: io;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: -25px;
    z-index: 100;
    width: 80px;
    height: inherit;
    position:relative;
    left: 70px;
   top:20px;
    bottom: 100px;
    border-radius: 5px;
   
    background-color: blue;
    font-weight: bold;
    color: white;

}
#span{
    margin-bottom:10px;
    font-size: 12px;
    font-weight: bold;

}
#span div{
    margin: 5px;
}
#news p{
  
    margin-bottom:10px;
    font-weight: 300;
}
#news a{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    width: 80px;
    height: 28px;
    background-color: rgb(11, 11, 15);
    border: none;
    color: white;
}
h1{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
select{
    position: absolute;
    right: 10px;
    top: 100px;
   
    width: 80px;
    height: 30px;
}

button{
    text-decoration: none;
    padding: 3px;
    margin: 10px;
    width: 80px;
    height: 28px;
    background-color: rgb(11, 11, 15);
    border: none;
    color: white;
}
button:disabled{
    background-color: rgb(59, 59, 68);
}
h4{
    font-size: 12px;
font: lighter;

    font-weight: bold;
   display: flex;
}